.makeadigitalagencywebsitethatcontainskills-website-d-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-makeadigitalagencywebsitethatcontainskills-website-d {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 48px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 250, 249, 1);
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-personalor-agency-website-header {
  gap: 24px;
  display: flex;
  padding: 18px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(255, 250, 249, 1);
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-logoapp-type {
  gap: 12px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text10 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  font-size: 42px;
  font-style: SemiBold;
  text-align: left;
  font-family: Source Serif 4;
  font-weight: 600;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-page-links1 {
  gap: 36px;
  display: flex;
  z-index: 1;
  align-items: flex-start;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text11 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text12 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text13 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text14 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-container2 {
  display: flex;
  padding: 48px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-main-content {
  width: 1344px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-landing-page-hero-with-taglineand-image {
  gap: 50px;
  display: flex;
  padding: 96px 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 250, 249, 1);
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text15 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  font-size: 120px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 120px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-image {
  width: 1222px;
  height: 611px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 28px;
  background-size: cover;
  background-image: url("public/tq_4amx9ffyxi-skg-700h.png");
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-personalor-agency-website-services-list-section {
  gap: 50px;
  display: flex;
  padding: 50px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 250, 249, 1);
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text16 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  flex-grow: 1;
  font-size: 28px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-container3 {
  gap: 18px;
  width: 647px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-row4 {
  gap: 50px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text17 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text18 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-row5 {
  gap: 50px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text19 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text20 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-row6 {
  gap: 50px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text21 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text22 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-row7 {
  gap: 50px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text23 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text24 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-row8 {
  gap: 50px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text25 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text26 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-portfolio-text-paragraph-section {
  gap: 50px;
  display: flex;
  padding: 50px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 250, 249, 1);
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-spacer {
  width: auto;
  height: 154px;
  flex-grow: 1;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text27 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-personalor-agency-website-nine-project-overview-collage {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-row1 {
  gap: 50px;
  display: flex;
  padding: 50px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 250, 249, 1);
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-project1 {
  gap: 8px;
  width: 414.6666564941406px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-asleeklaptopdisplayingamodernwebsiteinterfacewitha {
  width: 414.6666564941406px;
  height: 277px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1.5px;
  background-size: cover;
  background-image: url("public/tq_yk5auwsqnq-6e8e-1500w.png");
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-textcontent1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text28 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text29 {
  color: rgba(46, 24, 19, 0.6200000047683716);
  height: auto;
  font-size: 17px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-project2 {
  gap: 8px;
  width: 414.66668701171875px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-agraphicdesignerfocusedoncreatingavibrantdigitalil {
  width: 414.66668701171875px;
  height: 277px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1.5px;
  background-size: cover;
  background-image: url("public/tq_smlpesv9k9-8pwt-1500w.png");
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-textcontent2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text30 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text31 {
  color: rgba(46, 24, 19, 0.6200000047683716);
  height: auto;
  font-size: 17px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-project3 {
  gap: 8px;
  width: 414.66668701171875px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-apersonfocusedonanalyzingwebsitetrafficdataonalapt {
  width: 414.66668701171875px;
  height: 277px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1.5px;
  background-size: cover;
  background-image: url("public/tq_ponbofdstj-di6l-1500w.png");
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-textcontent3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text32 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text33 {
  color: rgba(46, 24, 19, 0.6200000047683716);
  height: auto;
  font-size: 17px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-row2 {
  gap: 50px;
  display: flex;
  padding: 0 0 50px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 250, 249, 1);
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-project4 {
  gap: 8px;
  width: 414.6666564941406px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-acreativeprofessionalanalyzingdigitalmarketingstra {
  width: 414.6666564941406px;
  height: 277px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1.5px;
  background-size: cover;
  background-image: url("public/tq_fpmh5kcs_v-50jh-1500w.png");
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-textcontent4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text34 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text35 {
  color: rgba(46, 24, 19, 0.6200000047683716);
  height: auto;
  font-size: 17px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-project5 {
  gap: 8px;
  width: 414.66668701171875px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-asleekandmodernwebsitelayoutdisplayedonalaptopscre {
  width: 414.66668701171875px;
  height: 277px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1.5px;
  background-size: cover;
  background-image: url("public/tq_h-b1w7kgbw-0j4c-1500w.png");
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-textcontent5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text36 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text37 {
  color: rgba(46, 24, 19, 0.6200000047683716);
  height: auto;
  font-size: 17px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-project6 {
  gap: 8px;
  width: 414.66668701171875px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-acolorfulabstractgraphicdesignpiecefeaturinggeomet {
  width: 414.66668701171875px;
  height: 277px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1.5px;
  background-size: cover;
  background-image: url("public/tq_6ot9xemfnk-27sj-1500w.png");
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-textcontent6 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text38 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text39 {
  color: rgba(46, 24, 19, 0.6200000047683716);
  height: auto;
  font-size: 17px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-row3 {
  gap: 50px;
  display: flex;
  padding: 0 0 50px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 250, 249, 1);
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-project7 {
  gap: 8px;
  width: 414.6666564941406px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-apersonfocusedonanalyzingwebsiteperformancedataona {
  width: 414.6666564941406px;
  height: 277px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 16px;
  background-size: cover;
  background-image: url("public/tq_7ftm8lhsrw-q5hg-1500w.png");
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-textcontent7 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text40 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text41 {
  color: rgba(46, 24, 19, 0.6200000047683716);
  height: auto;
  font-size: 17px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-project8 {
  gap: 8px;
  width: 414.66668701171875px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-adigitalmarketerfocusedonalaptopinasleekofficeenvi {
  width: 414.66668701171875px;
  height: 277px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 16px;
  background-size: cover;
  background-image: url("public/tq_nm4m36_3x8-tbybi-1500w.png");
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-textcontent8 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text42 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text43 {
  color: rgba(46, 24, 19, 0.6200000047683716);
  height: auto;
  font-size: 17px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-project9 {
  gap: 8px;
  width: 414.66668701171875px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-asleekandmodernwebsiteinterfacedisplayedonalaptops {
  width: 414.66668701171875px;
  height: 277px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 16px;
  background-size: cover;
  background-image: url("public/tq__g1wfvwbif-wjzt-1500w.png");
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-textcontent9 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text44 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text45 {
  color: rgba(46, 24, 19, 0.6200000047683716);
  height: auto;
  font-size: 17px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-personal-website-footer {
  gap: 28px;
  display: flex;
  padding: 96px 0 28px;
  overflow: hidden;
  align-self: stretch;
  box-sizing: content-box;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 250, 249, 1);
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-container4 {
  gap: 750px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-page-links2 {
  gap: 36px;
  display: flex;
  align-items: flex-start;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text46 {
  color: rgba(46, 24, 19, 0.6200000047683716);
  height: auto;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-button-large {
  display: flex;
  padding: 12px 28px;
  align-items: center;
  border-color: rgba(110, 79, 73, 0.20000000298023224);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 16px;
  justify-content: center;
}
 
.makeadigitalagencywebsitethatcontainskills-website-d-text47 {
  color: rgba(39, 28, 26, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
